.main-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 700px; // Set a maximum width for the main content
  width: 100%;
  margin: 0 auto; // Center the main content
  padding: 0 15px; // Add some horizontal padding
  box-sizing: border-box;
}

.ad-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 0.25rem;
  margin-bottom: 20px;
}

.ad-media {
  img {
    width: 100%;
    height: auto;
  }
}

.ad-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.shop-now-btn {
  align-self: flex-end;
  background-color: blue;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  text-transform: uppercase;
}
